* {
    font-family: "Raleway", sans-serif;
    background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/-textures-flat-marble-texture-textures-whitemarble-white-marble-texture-13.jpeg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

h1 {
    text-align: center;
    color: background-image: -webkit-gradient(linear, left top, left bottom, from(start-color), to(end-color));
    background-image: -webkit-linear-gradient(top, start-color, end-color);
    background-image: -moz-linear-gradient(top, start-color, end-color);
    background-image: linear-gradient(to bottom, start-color, end-color);;
    opacity: 0.8;
    font-size: 100px;
    font-weight: bold;
}

h2 {
    color: gray;
    font-size: 50px;
    font-weight: bold;
    padding: 30px;
    background-color:gray;
    float: center;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 50px;
    font-weight: bold,
}

/* Style the slideshows*/
iframe {
    margin-top: 20px;
    margin-bottom: 30px;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 4px 4px 14px #000;
    -webkit-box-shadow: 4px 4px 14px #000;
    box-shadow: 4px 4px 14px #000; 

}
